# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
#.env.local
#.env.development.local
#.env.test.local
#.env.production.local
#.env

note.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
forge-addin/ExportImportExcelPlugin/packages/
forge-addin/ExportImportExcelPlugin/obj/
rsmean-data/ClientCredentialFlow_Example_App/packages/
rsmean-data/ClientCredentialFlow_Example_App/src/NetFrameworkClient/bin/
rsmean-data/ClientCredentialFlow_Example_App/src/NetFrameworkClient/obj/
rsmean-data/ClientCredentialFlow_Example_App/src/NetCoreClient/obj/
rsmean-data/ClientCredentialFlow_Example_App/src/NetCoreClient/bin/
